/* Name: Nur Najiyyah Binti Mohd Shahri Malek 2020470348
   Lab Assignment 5: JavaScript
*/

body {
   padding: 10px;
   font-family: Arial, Verdana, sans-serif;
}

h1 {
   text-align: center;
}

form {
   background-image: url("picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   margin: auto;
   width: 50%;
}

input [type="text"]  {
 width: 100%;  
 height: 30px; 
}

input[type="submit"], input[type="reset"]  { 
    width: 100px;
    height: 40px;
    background-color: #DCDCDC;
}